[Desktop Entry]
Name=Zordeer
Exec=zordeer
Icon=io.github.kyuyrii.zordeer
StartupWMClass=io.github.kyuyrii.zordeer
Categories=Game;
Keywords=gaming;invocation;
Type=Application
StartupNotify=false
Terminal=false
Comment=A Qt launcher for running games via Wine/Proton/UMU
Comment[pt_BR]=Um launcher Qt para executar jogos via Wine/Proton/UMU
Comment[es_ES]=Un lanzador Qt para ejecutar juegos a través de Wine/Proton/UMU
