[Desktop Entry]
Name=Zordeer
Exec=zordeer
Icon=applications-games
StartupWMClass=zordeer
Comment=A launcher for games that run via Proton
Categories=Game;
Keywords=gaming;proton;invocation;
Terminal=false
Type=Application
