[Desktop Entry]
Name=Zordeer
Exec=zordeer
Icon=applications-games
StartupWMClass=zordeer
Comment=A launcher for games that run via Wine/Proton
Categories=Game;
Keywords=gaming;proton;wine;invocation;
Terminal=false
Type=Application
